.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

  
  @media (max-width: 979px) {
    #myCarousel.carousel img {
    width: 300%;
    height: auto;

    }
    }


    @media (max-width: 470px) {
    #myCarousel.carousel img {
    max-width:100%;
    width:150%;
    min-height: 100px;
    }
    }